<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/public/assets/css/userFrontGame.css">
</head>
<body>
    <div class="GamePrimaryDiv">
        <span class="button-arounder">
            <button >
                Start Game
            </button>
        </span>

        <span class="QuestionDiv">
            <h3 id="questionH3">
                Is this this or that?
            </h3>
        </span>

        <span class="button-arounder">
            <button > This </button>
        </span>
        <span  class="button-arounder">
            <button > That </button>
        </span>

    </div>

    <div class="longBar">
        Object Identification Game
    </div>

    <div class="resultDiv">
        <span class="resultBox">
            <h6>
                Result
            </h6>
        </span>
    </div>
    
</body>
</html>