<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/public/assets/css/userHeader.css">
</head>
<div class="coverPictureDiv">
    <img class="coverpicture" alt="coverpicture" src="/public/kidlearning2.jpg" />
</div>
<div class="profilePictureDiv">
    <img class="profilePicture" alt="profilePicture" src="/public/kidlearning5.jpg" />
</div>

<div class="Data">
    <div class="userDetails">
        <h4>
           Name Surname
        </h4>
    </div>
    <h4> Enter Bio Here</h4>

    <div>
        <h4> Birthday: 2022-11-22 </h4>
        <h4> Birth Date: </h4>
        <h4> Zodiac Sign:  </h4>
    </div>

    <div >
        <h4>Rankings</h4>
        <h4>Achievements </h4>
    </div>
</div>


        

</html>