<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/public/assets/css/userFooter.css" >
</head>
<footer class="footer-distributed">

			<div class="footer-left">

				<h3>
                    <img alt="logo" src="/public/logo.svg">
                </h3>

				<p class="footer-links">
					<a href="#">Update Profile</a>
					·
					<a href="#">Playground</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">School</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Subscribe</a>
                    .
                    <a href="#">Logout</a>
				</p>

				<p class="footer-company-name">Kidtergarten © 2024</p>

				<div class="footer-icons">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>
				</div>

			</div>

			<div class="footer-right">

				<p>Report Bug</p>

				<form action="#" method="post">

					<input type="text" name="subject" placeholder="subject">
					<textarea name="message" placeholder="Message"></textarea>
					<button>Send</button>

				</form>

			</div>

		</footer>
</html>