<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/public/assets/css/userBody.css">
</head>
<div class="postsDiv">
    <h1 id="postsH1">
        Community Updates
    </h1>

    <video autoplay muted loop>
        <source src="/public/video2.mp4" type="video/mp4">
    </video>

    <video autoplay muted loop>
        <source src="/public/video3.mp4" type="video/mp4">
    </video>

    <video autoplay muted loop>
        <source src="/public/video1.mp4" type="video/mp4">
    </video>
</div>
</html>