<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/public/assets/css/userSidebar.css">

</head>
<body class="TableBody">
    <table>
        <tr>
            <th>Go to school</th>
            <th> Access The Playground</th>
        </tr>

        <tr>
            <th>Edit Profile</th>
            <th>Subscribe</th>
        </tr>

        <tr>
            <th>Join Community</th>
            <th>Competitions</th>
        </tr>

        <tr>
            <th> Rankings</th>
            <th> What Next? </th>
        </tr>
    </table>
</body>
</html>