<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/public/assets/css/userFrontGame.css">
</head>
<body>
    <div class="GamePrimaryDiv">
        <span class="TV">
            <button>
                Start Game
            </button>
        </span>

        <span class="QuestionDiv">
            <h3>
                Is this this or that?
            </h3>
        </span>

        <span class="options">
            <button> This </button>
            <button> That </button>
        </span>

    </div>

    <div class="longBar">
        The This or That Game
    </div>

    <div class="resultDiv">
        <span>
            <h6>
                Result
            </h6>
        </span>
    </div>
    
</body>
</html>